<div class="game-board-container">

	<table class="game-board">

		<tr class="game-board-row">
			<td class="game-board-cell border-right">

			</td>

			<td class="game-board-cell border-right">

			</td>

			<td class="game-board-cell">

			</td>
		</tr>

		<tr class="game-board-row">
			<td class="game-board-cell border-right border-top"></td>
			<td class="game-board-cell border-right border-top"></td>
			<td class="game-board-cell border-top"></td>
		</tr>


		<tr class="game-board-row">
			<td class="game-board-cell border-right border-top"></td>
			<td class="game-board-cell border-right border-top"></td>
			<td class="game-board-cell border-top"></td>
		</tr>


	</table>


</div>